<!-- templates/confirmation_email.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Please confirm your subscription</title>
</head>
<body>
<p>Dear user,</p>
<p>Thank you for subscribing to the OLX Price Monitor service.</p>
<p>Please click the link below to confirm your subscription:</p>
<p><a href="{{confirmation_link}}">Confirm Subscription</a></p>
<p>If the above link does not work, please copy and paste the following URL into your browser:</p>
<p>{{confirmation_link}}</p>
<p>Best regards,<br>OLX Price Monitor Team</p>
</body>
</html>
